@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Poppins&family=Roboto+Mono:wght@300&family=Roboto:wght@300&family=Sometype+Mono&family=Tilt+Neon&display=swap');
*
{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Mono', monospace;
}
body{
        background: #F5E1D9;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}
.container{
        position: relative;
        width: 100%;
        max-width: 1100px;
        min-height: 1100px;
        background: #fff;
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_Side{
        position: relative;
        background: #461220;
        padding: 40px;
}
.profileText{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx{
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
}
.profileText .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.profileText h2{
        color: #fff;
        font-size: 1.8em;
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        line-height: 1.4em;
}
.profileText h2 span{
        font-size: 0.8em;
        font-weight: 300;
}

.profileText h3{
        color: #fff;
        font-size: 0.7em;
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        line-height: 1.4em;
}

.contactInfo{
        padding: 40px;
}
.title{
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 20px;
}
.contactInfo ul{
        position: relative;
}

.contactInfo ul li{
        list-style: none;
        position: relative;
        margin: 10px 0;
        cursor: pointer;
        font-size: 15px;
}

.contactInfo ul li .icon{
        display: flex;
        width: 35px;
        font-size: 18px;
        color: #d8a48f;
}

.contactInfo a{
        display: flex;
        width: 35px;
        font-size: 15px;
        color: #d8a48f;
}


.contactInfo ul li span{
       color: #fff;
        font-weight: 300;
}
.contactInfo.education li{
        margin-bottom: 15px;
}
.contactInfo.education h6{
        color: #d8a48f;
        font-weight: 500;
        font-size: 15px;
}
.contactInfo.education h5:nth-child(2){
        color: #fff;
        font-weight: 500;
}
.contactInfo.education h5{
        color: #fff;
        font-weight: 500;
        font-size: 15px;
}
.contactInfo.language .percent{
        position: relative;
        width: 100%;
        height: 6px;
        background: #081921;
        display: block;
        margin-top: 5px;
}
.contactInfo.language .percent div{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #d8a48f;

}
.title2{
        color: #461220;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
}
p{
        color: #333;

}
.about h2{
        font-weight: 600;
        font-size: 1.8em;
}



.about .box{
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        position: relative;
        width: 100%;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding-bottom: 20px;
}

.about .box .year_company{
        min-width: 150px;

}
.about .box .year_company h5{
        color: #333;
        text-transform: uppercase;
        font-weight: 600;
}
.about .box .text h4{
        text-transform: uppercase;
        font-size: 19px;
}
.about .box .text h5 ul li{
        font-size: 11px;
        list-style: none;
        position: relative;
        margin: 16px 0;
        cursor: pointer;
}








.container .right_Side{
        position: relative;
        padding: 40px;
        color: #461220;
}



@media (max-width: 600px) {


    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        background-color: #fff; 
        position: center absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .container .left_Side {
        padding: 20px;
   }

    .container .right_Side{
        padding: 0%;
   }

        
.about .box .year_company h5{
        font-size: 10px;
        padding-left: 12px;
        position: center;
        justify-content: space-between;
}
    .about .box .text h5 ul li{
            font-size: 14px;
            padding: 14px;
            list-style: none;
            position: relative;
            margin: 4px 0;
            cursor: pointer;
    }
}
